<h1>The Cleanweb Manifesto: Error</h1>
<hr/>
<p>Oh dear, <%= params[:provider] %> has deauthorized this app. That's not good.</p>
<p>You can <a href='/'>head back and try again</a> if you like, but it's probably better to just <a href='mailto:info@cleanweb.org.uk'>let us know what happened</a>.
