<h1>The Cleanweb Manifesto: Sign</h1>

<hr/>


<p>
  You want to sign the <a href='http://<%=DOMAIN%>/manifesto.html'>Cleanweb Manifesto</a>? Great! We're glad to have you on board.
</p>

<p>
  So we can tell who's signed, please let us know who you are 
  using Twitter. Don't worry, we won't read or post anything, 
  and we only store your publicly accessible information.
</p>

<p>
  If you don't have a Twitter account, stay tuned; we'll be adding more options later.
</p>

<div style='text-align: center'>

  <a href="/auth/twitter" class='btn btn-large'>
    <img src="/twitter-bird-light-bgs.png" alt="Twitter" style='width: 100px; height: 100px'>
    Sign with Twitter
  </a>
  
</div>

<hr/>

<div class='well'>
  <iframe src='/signatories' style='width:100%; border:0px; margin: 0px; height: 500px'>
  </iframe>
</div>