<h1>The Cleanweb Manifesto: Signed</h1>

<hr/>

<p>
  Thanks for signing the Cleanweb Manifesto! You've joined <%= @count %> 
  others who have pledged to use their skills to work on the big problems
  and make the future a better place.
</p>

<p>
  Now you're on board, why not tell the world?
</p>

<p style='text-align: center'>
  <a href="https://twitter.com/intent/tweet?hashtags=cleanweb&amp;original_referer=http%3A%2F%2Fmanifesto.cleanweb.dev%2Fsigned&amp;source=tweetbutton&amp;text=I've%20signed%20the%20Cleanweb%20Manifesto%3A&amp;url=http%3A%2F%2Fcleanweb.org.uk%2Fmanifesto.html&amp;via=cleanwebuk" class="btn btn-primary btn-large" id="b" target="_blank">Spread the word with a Tweet!</a>  
</p>

<p>
  Now, head back to the main site to see how you can <a href='http://<%=DOMAIN%>/get_involved.html'>get involved</a>.
</p>