<h1>The Cleanweb Manifesto: Signed</h1>

<hr/>

<p>
  Thanks for signing the Cleanweb Manifesto! You've joined <%= @count %> 
  others who have pledged to use their skills to work on the big problems
  and make the future a better place.
</p>

<p>
  Now you're on board, why not tell the world?
</p>

<div class='well'>
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://cleanweb.org.uk/manifesto.html" data-text="I've signed the Cleanweb Manifesto:" data-size="large" data-via="cleanwebuk" data-hashtags="cleanweb" data-dnt="true">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<p>
  Now, head back to the main site to see how you can <a href='<%=DOMAIN%>/contact.html'>get involved</a>.
</p>