<h1>The Cleanweb Manifesto: Signed</h1>

<hr/>

<p>
  Thanks for signing the Cleanweb Manifesto! You've joined <%= 0 %> 
  others who have pledged to use their skills to work on the big problems
  and make the future a better place.
</p>

<p>
  Now you're on board, why not spread the word with a Tweet?
</p>

<p>
  If you'd like to be part of the wider cleanweb community, head back to the
  main site to see how you can <a href='<%=DOMAIN%>/contact.html'>get involved</a>.
</p>